.tiptapMenubar button {
  @apply px-4 py-1 text-sm font-semibold rounded
        border border-gray-200
        text-gray-600
        hover:text-white hover:bg-gray-400 hover:border-transparent
        focus:outline-none focus:ring-2 focus:ring-gray-600 focus:ring-offset-2;
}

.tiptapMenubar button.isActive {
  @apply text-white bg-gray-800;
}

.editor {
  width: 75%;
  height: 100%;
}